* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ::-webkit-scrollbar {
    display: none;
} */

:root {
    --var-drkts-ble: #010d3b;
    --var-dark-blue: #222572;
    --var-fade-blue: #7476A6;

    --var-brwnish-prple:#AF3C63;
    --var-pink-prple:#EB81A5;

    --var-box-brcle: #DAD9E7;

    --var-white: #ffff;
    --var-white2: #f2e5ea;

    --var-black: #000;
}

body {
    font-family: sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    text-rendering: optimizeSpeed;
    color: var(--var-white);
}

.dashboard {
    display: flex;
    /* background-color: red; */
}

.dashboard-side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    min-width: 180px;
    height: 700px;
    background-color: var(--var-white2);
    overflow-x: hidden;
    transition: all .5s;
    position: sticky;
    top: 0px;
}

.sidebar-logo {
    max-width: 130px;
    max-height: fit-content;
    margin-bottom: 50px;
}

.sidebar-pages {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.sidebar-pages a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px 10px;
    gap: 10px;
    color: var(--var-dark-blue);
    font-weight: 600;
}

.page-indication {
    border-radius: 4px;
    background-color: var(--var-pink-prple);
}

.sidebar-profile-content {
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.assistance {
    display: flex;
    flex-direction: column;
    width: 150px;
    border-top: 1px solid grey;
    padding: 60px 10px 20px 10px;
    margin: auto 0 30px 0;
    gap: 20px;
}

.assistance a{
    display: flex;
    text-decoration: none;
    padding: 5px 10px;
    gap: 10px;
    color: var(--var-brwnish-prple);
    font-weight: 600;
}

main {
    width: fit-content;
    height: 100%;
    overflow-x: scroll;
}

main nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.hamburger {
    display: none;
    align-items: center;
    gap: 5px;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    position: relative;
    z-index: 200;
    order: 2;
}
.hamburger.active .ham-span {
    transition: all .5s;
}
.hamburger.active .hs2 {
    width: 0px;
}

.hamburger.active .hs1 {
    transform: rotate(45deg) translateY(11px);
    background-color: red;
}
.hamburger.active .hs3 {
    transform: rotate(-45deg) translateY(-11px);
    background-color: red;
}

.ham-span {
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--var-dark-blue);
    transition: all 2s;
}

.hs2 {
    width: 20px;
}

.nav-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--var-dark-blue);
    order: 1;
}
.nav-description p:nth-of-type(1) {
    font-weight: 600;
}

.nav-description p:nth-of-type(2) {
    font-size: .8rem;
    color: var(--var-pink-prple);
}

.nav-profile-content {
    display: flex;
    align-items: center;
    gap: 20px;
    order: 3;
}

.profile-notification {
    max-height: 15px;
    max-width: 15px;
}

.profile-picture {
    max-height: 40px;
    max-width: 40px;
}

.profile-name {
    color: var(--var-dark-blue);
    font-weight: 600;
}


.analytics-interface {
    width: 100%;
    background: linear-gradient(to bottom, 
        #cfcede, 
        #fce9f0);
    border-radius: 20px 20px 0 0;
    height: 100%;
    padding: 30px 30px 120px 30px;
}

.analytics-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--var-white);
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right,
     #ff3478,
     #222572);
    width: 120px;
    height: 40px;
    margin-bottom: 20px;
}

.daily-chart, .small-chart{
    width: 100%;
    max-width: 100%;
    height: 380px;
    background-color: #b7b4c6;
    border-radius: 20px;
    padding: 15px 10px;
}

.daily-chart-subheading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 80px;
    /* background-color: red; */
}

.daily-chart-subheading .date {
    color: var(--var-fade-blue);
    font-weight: 600;
}

.daily-chart-subheading .daily-chart-description, .small-chart-description {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.daily-chart-description h2 {
    text-align: right;
    font-size: 1.1;
    color: var(--var-dark-blue);
}

.daily-chart-description div, .small-chart-description div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.daily-chart-description div .blue-box, .small-chart-description .blue-box {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--var-dark-blue);
    border-radius: 3px;
}
.daily-chart-description div .small-circle, .small-chart-description .small-circle  {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: var(--var-fade-blue);
    border-radius: 50%;
}

.daily-chart-description div p, .small-chart-description div p{
    color: var(--var-fade-blue);
    font-size: .9rem;
}


.chart-space {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    /* gap: 7px; */
    /* background-color: yellow; */
    overflow-x: scroll;
}
.chart-space::-webkit-scrollbar {
    display: none;
}

.chart {
    display: flex;
    max-width: 100%;
    width: 100%;
    gap: 4px;
    height: 100%;
    /* background-color: rgb(0, 255, 132); */
}
.millions-amount {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: .7rem;
    font-weight: bold;
    color: var(--var-drkts-ble);
    text-align: right;
    min-width: 30px;
}

.chart-box, .small-chart-box {
    display: flex;
    align-items: flex-end;
    padding-left: 15px;
    gap: 10px;
    width: fit-content;
    height: 100%;
    border-left: 1px solid var(--var-drkts-ble);
    border-bottom: 1px solid var(--var-drkts-ble);
    /* background-color: blue; */
}

.chart-box span{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 24px;
    min-width: 24px;
    height: 110px;
    background-color: #ffbde4;
    border-radius: 5px 5px 0 0;
}

.chart-box span:nth-of-type(7) {
    background-color: var(--var-dark-blue);
    height: 150px;
}

.month-days {
    display: flex;
    gap: 10px;
    font-size: .8rem;
    font-weight: bold;
    padding-left: 50px;
    color: var(--var-drkts-ble);
}

.month-days p{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    width: 24px;
    min-width: 24px;
    height: 20px;
    min-height: 20px;
    /* margin: 0 3px 0 0; */
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.container .small-chart {
    /* display: none; */
    width: 500px;
    height: 400px;
    background-color: #ffc8df;
    border-radius: 20px;
    padding: 10px;
}

.small-chart-description h2 {
    text-align: right;
    color: var(--var-dark-blue);
    font-size: 1rem;
}

.small-chart-box span {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 24px;
    min-width: 24px;
    height: 110px;
    background-color: #ffe5bd;
    border-radius: 5px 5px 0 0;
}

.small-chart-box span:nth-of-type(6) {
    background-color: var(--var-dark-blue);
    height: 260px;
}
.small-chart-box span:nth-of-type(7) {
    background-color: var(--var-dark-blue);
    height: 160px;
}

.repayment-analytics {
    width: 320px;
    height: 400px;
    background: linear-gradient(to bottom, 
        #cfcede, 
        #facede);
    border-radius: 20px;
    padding: 10px 0;
}

.repayment-analytics h2 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: var(--var-dark-blue);
    padding: 10px;
}





@media screen and (max-width: 1200px) {
    .container {
        justify-content: center;
    }
}
@media screen and (max-width: 840px) {
    .sidebar-profile-content {
        display: flex;
    }
    .sidebar-logo {
        margin-bottom: 30px;
    }

    .nav-profile-content {
        display: none;
    }

    .hamburger {
        display: flex;
        position: fixed; 
        top: 30px;
        left: 85%;
    }

    .assistance {
        padding: 20px 10px 20px 10px;
    }

    .dashboard-side-bar {
        position: fixed;
        top: 0px;
        transform: translateX(-100%);
        z-index: 1000;
        max-height: 600px;
        box-shadow: 2px 2px 5px 2px rgba(192, 174, 174, 0.597);
    }
    .dashboard-side-bar::-webkit-scrollbar {
        display: none;
    }
    .dashboard-side-bar.active {
        transform: translateX(0%);
        box-shadow: 0 0 0 1000px rgba(8, 8, 56, 0.322);
    }
}


@media screen and (max-width: 600px) {
    /* .dashboard {
        background-color: red;
    } */

    .daily-chart-subheading {
        padding: 0 10px;
    }
}

@media screen and (max-width: 500px) { 
    .daily-chart-description h2 {
        text-align: right;
        font-size: 1rem;
        color: var(--var-dark-blue);
    }
    .daily-chart-description div p {
        color: var(--var-fade-blue);
        font-size: .9rem;
    }
    .analytics-interface {
        padding-bottom: 300px;
    }
}
