* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --var-drkts-ble: #010d3b;
    --var-dark-blue: #222572;
    --var-fade-blue: #7476A6;

    --var-brwnish-prple:#AF3C63;
    --var-pink-prple:#EB81A5;


    --var-box-brcle: #DAD9E7;

    --var-white: #ffff;
    --var-white2: #f2e5ea;

    --var-black: #000;
}

body {
    font-family: sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    text-rendering: optimizeSpeed;
    color: var(--var-white);
    /* width: fit-content; */
    background: linear-gradient(to bottom, #f2e5ea,#e2a3ff,#222572);
    /* background-color: red; */
    background-repeat: no-repeat;
    margin: 0;
}


a {text-decoration: none;}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    width: 100%;
    align-items: center;
    position: sticky;
    z-index: 100;
    top: 0px;
    margin-bottom: 80px;
    transition: all .5s;
}
nav.scrolled {
    background-color: var(--var-white);
    box-shadow: 0px 3px 20px rgb(214, 204, 214);
    padding: 0px 20px 0px 50px;
}

.logo {
    max-height: 150px;
    max-width: 150px;
}
.nav-links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.home img {
    max-width: 30px;
    max-height: 30px;
}

.nav-links a:nth-of-type(2), .nav-links
a:nth-of-type(3) {
    color: var(--var-dark-blue);
    font-weight: 600;
}
.nav-links a:nth-of-type(2):hover, .nav-links
a:nth-of-type(3):hover {
    color: var(--var-brwnish-prple);
}

.nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    background-color: var(--var-dark-blue);
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    gap: 6px;
    color: var(--var-white);
    transition: all .4s;
}
.nav-btn:hover {
    background-color: var(--var-fade-blue);
}

.nav-btn::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    margin: 40px 0 0 0 ;
    background: linear-gradient(to right,#22257200, #AF3C63, #22257200);
}

.hamburger {
    display: none;
    align-items: center;
    gap: 5px;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    position: relative;
    z-index: 200;
}
.hamburger.active .ham-span {
    transition: all .5s;
}
.hamburger.active .hs2 {
    width: 0px;
}

.hamburger.active .hs1 {
    transform: rotate(45deg) translateY(11px);
}
.hamburger.active .hs3 {
    transform: rotate(-45deg) translateY(-11px);
}

.ham-span {
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--var-dark-blue);
    transition: all 2s;
}

.hs2 {
    width: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 0;
    color: var(--var-black);
    /* background-color: purple; */
}

header h1 span {
    color:  var(--var-white);
}

.bank-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--var-white);
    font-size: 1.6rem;
    font-weight: 600;
    width: 300px;
    height: 60px;
    background: linear-gradient(to bottom right, #AF3C63, #222572);
    box-shadow: 0 0 10px 2px rgb(8, 0, 12);
    border-radius: 10px;
    margin: 100px auto 80px auto;
    transition: all .5s;
}

.bank-btn:hover {
    transform: scale(0.98);
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 200px;
    gap: 170px;
}

.bank {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: var(--var-white);
    border-radius: 20px;
    padding: 10px 20px;
}

.bank img {
    display: block;
    margin: 30px auto;
    max-width: 180px;
    max-height: fit-content;
}

.bank h1 {
    color: var(--var-drkts-ble);
    margin: 0 auto 30px auto;
}

.bank p {
    color: var(--var-drkts-ble);
    font-size: .9rem;
    margin-bottom: 30px;
}

.bk-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    color: var(--var-white);
    font-weight: 600;
    font-size: 1.1rem;
    background-color: brown;
    margin: 0 0 10px auto;
    border-radius: 10px 0 10px 0;
}
.access-bank {
    box-shadow: 0 0 10px 1px #ffbf59;
}
.bank-btn1 {
    background-color: #E38e03;
}
.globus-bank {
    box-shadow: 0 0 10px 1px #ff8989;
}
.bank-btn2 {
    background-color: #f12727;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 40px 50px;
    background: linear-gradient(to bottom, #e2a3ff,#7476A6);
}

footer img {
    max-width: 140px;
    max-height: fit-content;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
}

.footer-links a {
    color: var(--var-white);
    text-align: center;
}

.footer-links a:hover {
    color: var(--var-white2);
}

.footer-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    text-align: right;
}



.form-space {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 1px #21223d;
    background: linear-gradient(to bottom, #b1b4f8,#ffb2cc);
    width: 30%;
    min-width: 340px;
    padding: 10px 10px 40px 10px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: all .5s;
    z-index: 20000;
}

.form-space.pop {
    transform: translate(-50%,-50%) scale(1);
}

.form-space img {
    display: block;
    max-width: 150px;
    max-height: fit-content;
    opacity: .5;
}

.form-desc {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--var-dark-blue);
}

form {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 90%;
    gap: 10px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

form div label {
    font-size: .9rem;
    font-weight: 600;
    color: var(--var-dark-blue);
}

form input {
    display: block;
    border-radius: 10px;
    text-indent: 5px;
    border: 2px solid red;
    border-radius: 10px;
    border: double 2px transparent;
    background-image: linear-gradient(white,white),
    linear-gradient(to bottom right, #222572, #EB81A5);
    background-origin: border-box;
    background-clip: content-box, border-box;
    caret-color: var(--var-dark-blue);
    width: 100%;
    height: 40px;
    outline: none;
}
button {
    font-size: 1rem;
    font-weight: 600;
    color: var(--var-white);
    border: none;
    border-radius: 5px;
    background: linear-gradient(to bottom right, #AF3C63,#222572);
    width: 200px;
    height: 40px;
    margin: 20px 0 0 auto;
    transition: all 1s;
}

button:hover {
    background: linear-gradient(to bottom right,#222572, #AF3C63);
}


.overlay {
    width: 100%;
    height: 140vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #363636a4;
    transform: scale(0);
    z-index: 10000;
    transition: all .3s;
}

.overlay.active {
    transform: scale(1);
}











@media screen and (max-width: 930px){
    /* body {
        background-color: brown;
    } */
    header {
        align-items: center;
        text-align: center;
        padding: 0 20px;
        margin-bottom:100px;
    }
    header img {
        width: 60%;
    }

    main {
        gap: 50px;
    }
    .bank {
        width: 70%;
        max-width: 500px;
    }
    .bank p {
        text-align: center;
    }
}

@media screen and (max-width: 840px){
    /* body {
        background-color: yellow;
    } */

    nav {
        padding: 20px;
    }

    .nav-links {
        position: fixed;
        top: 0px;
        left: 0px;
        transform: translateX(100%);
        flex-direction: column;
        padding: 30px 0;
        background-color: white;
        width: 100%;
        transition: all 1s;
        box-shadow: 0 10px 40px -20px rgb(104, 104, 250);
    }
    .nav-links.active {
        transform: translateX(0%);
    }
    .hamburger {
        display: flex;
    }

    header {
        flex-direction: column;
        gap: 0;
    }

    .bank-btn {
        width: 180px;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 750px){
    footer {
        flex-direction: column;
        gap: 40px;
    }
}
@media screen and (max-width: 500px){
    nav {
        padding-left: 0;
        margin-bottom: 0px;
    }
    nav.scrolled {
        padding-left: 0;
    }
    header {
        align-items: center;
    }
    header img {
        width: 100%;
        min-width: 400px;
        /* background-color: red; */
    }
    .header-text {
        line-height: 1.5;
        position: relative;
        z-index: 10;
        font-size: 1.4rem;
        color: var(--var-dark-blue);
    }
    header h1 span {
        color: var(--var-white);
    }
    .bank {
        width: 100%;
    }
}