* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ::-webkit-scrollbar {
    display: none;
} */

:root {
    --var-drkts-ble: #010d3b;
    --var-dark-blue: #222572;
    --var-fade-blue: #7476A6;

    --var-brwnish-prple:#AF3C63;
    --var-pink-prple:#EB81A5;

    --var-box-brcle: #DAD9E7;

    --var-white: #ffff;
    --var-white2: #f2e5ea;

    --var-black: #000;
}

body {
    font-family: sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    text-rendering: optimizeSpeed;
    color: var(--var-white);
}

.dashboard {
    display: flex;
    /* background-color: red; */
}

.dashboard-side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    min-width: 180px;
    height: 700px;
    background-color: var(--var-white2);
    overflow-x: hidden;
    transition: all .5s;
    position: sticky;
    top: 0px;
}

.sidebar-logo {
    max-width: 130px;
    max-height: fit-content;
    margin-bottom: 50px;
}

.sidebar-pages {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.sidebar-pages a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 5px 10px;
    gap: 10px;
    color: var(--var-dark-blue);
    font-weight: 600;
}

.page-indication {
    border-radius: 4px;
    background-color: var(--var-pink-prple);
}

.sidebar-profile-content {
    display: none;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.assistance {
    display: flex;
    flex-direction: column;
    width: 150px;
    border-top: 1px solid grey;
    padding: 60px 10px 20px 10px;
    margin: auto 0 30px 0;
    gap: 20px;
}

.assistance a{
    display: flex;
    text-decoration: none;
    padding: 5px 10px;
    gap: 10px;
    color: var(--var-brwnish-prple);
    font-weight: 600;
}

main {
    width: 100%;
    height: 100%;
}

main nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.hamburger {
    display: none;
    align-items: center;
    gap: 5px;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    position: relative;
    z-index: 200;
    order: 2;
}
.hamburger.active .ham-span {
    transition: all .5s;
}
.hamburger.active .hs2 {
    width: 0px;
}

.hamburger.active .hs1 {
    transform: rotate(45deg) translateY(11px);
}
.hamburger.active .hs3 {
    transform: rotate(-45deg) translateY(-11px);
}

.ham-span {
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--var-dark-blue);
    transition: all 2s;
}

.hs2 {
    width: 20px;
}

.nav-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: var(--var-dark-blue);
    order: 1;
}
.nav-description p:nth-of-type(1) {
    font-weight: 600;
}

.nav-description p:nth-of-type(2) {
    font-size: .8rem;
    color: var(--var-pink-prple);
}

.nav-profile-content {
    display: flex;
    align-items: center;
    gap: 20px;
    order: 3;
}

.profile-notification {
    max-height: 15px;
    max-width: 15px;
}

.profile-picture {
    max-height: 40px;
    max-width: 40px;
}

.profile-name {
    color: var(--var-dark-blue);
    font-weight: 600;
}

.notification-interface {
    width: 100%;
    background: linear-gradient(to bottom, 
        #cfcede, 
        #fce9f0);
    border-radius: 20px 20px 0 0;
    height: 100%;
    padding: 30px 30px 120px 30px;
}

.notification-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--var-white);
    border: none;
    border-radius: 10px;
    background: linear-gradient(to bottom right,
     #ff3478,
     #222572);
    width: 110px;
    height: 40px;
    margin-bottom: 20px;
}

.notification-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 50px;
}

.notification-flex {
    display: flex;
    gap: 10px;
    color: var(--var-dark-blue);
}

.notification-flex .sender, .notification-flex .notification-space{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    background: linear-gradient(to bottom, #e6e4fa, #f7d3e0);
    color: var(--var-dark-blue);
    min-width: 100px;
}

.notification-space {
    gap: 30px;
    width: 78%;
    justify-content: space-between;
    padding:10px 30px;
}

.notification-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notification-flex .sender{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    min-width: 190px;
    max-width: 200px;
}

.notification-description h1{
    font-size: 1.3rem;
}

.notification-description .notification-detail {
    font-size: .9rem;
} 

.notification-space time {
    color: #ff0015;
    font-size: .9rem;
}














@media screen and (max-width: 1200px) {
    /* .dashboard {
        background-color: blue;
    } */

    .notification-container {
        padding: 0;
    }

    .notification-space time {
        min-width: fit-content;
    }
}

@media screen and (max-width: 840px) {
    /* .dashboard {
        background-color: rgb(0, 255, 42);
    } */
    .sidebar-profile-content {
        display: flex;
    }
    .nav-profile-content {
        display: none;
    }

    .hamburger {
        display: flex;
        position: relative;
        z-index: 100px;
    }

    .dashboard-side-bar {
        position: absolute;
        top: 0px;
        transform: translateX(-100%);
    }
    .dashboard-side-bar.active {
        transform: translateX(0%);
        box-shadow: 0 0 0 1000px rgba(8, 8, 56, 0.322);
    }
}

@media screen and (max-width: 700px) {
    /* .dashboard {
        background-color: rgb(0, 153, 255);
    } */
    .notification-flex {
        flex-direction: column;
    }
    .notification-space {
        width: 100%;
    }

    .notification-container .sender {
        border-radius: 10px 10px 0 0;
    }

    .notification-container .notification-space {
        border-radius: 0 10px 10px 10px;
    }
}

@media screen and (max-width: 500px) {
    .notification-interface {
        padding: 10px 10px 150px 10px;
    }

    .notification-btn {
        margin: 10px auto 20px auto;
    }

    .notification-description h1 {
        font-size: 1.2rem;
    }
    .notification-detail {
        font-size: .8rem;
    }
}